{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>

        #header{
          width: 100%;
          height:60px;
          background-color:#B8E3F9;
          color:white;
        }
            #parent{
                position:relative;
            }
            #bodycontent{
                position: absolute;
                text-align: center;
                width:70%;
                top: 140px;
                left: 10%;
            }
        </style>
</head>
<body>
    <div id="parent">
<h1 id="header">
    Staff Update the Box
    </h1>
    <div id="bodycontent">
<p>
    If the box is vegeterian, just write in "vegeterian" <br><br>
    If the box is vegan, just write in "vegan" <br><br>
    Other wise, write the kind of meat in the box, like "chicken", "beef", etc.
</p>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <!-- <label for="nutrition">
        Nutrition Information:
    </label>
    <br> 
    <input type="text" id="nutrition" name="nutrition">

    <br>
    <br> -->
    <input type="submit" value="Submit">
</form>
    </div>
</div>
</body>
{% for msg in messages %}
    {{msg}}
{% endfor %}
{% endblock %}