{% load static %}
{% block content %}
<h1>
    Staff Update the Box
    </h1>
<h2>
    If the box is vegeterian, just write in "vegeterian" <br><br>
    If the box is vegan, just write in "vegan" <br><br>
    Other wise, write the kinds of meat in the box, like "chicken", "beef", etc.
</h2>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <!-- <label for="nutrition">
        Nutrition Information:
    </label>
    <br> 
    <input type="text" id="nutrition" name="nutrition">

    <br>
    <br> -->
    <input type="submit" value="Submit">
</form>
{% endblock %}