{% block content %}
<h1>
    Enter the amount of each box category. 
</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label for="meat">
        Meat:
    </label>
    <br> 
    <input type="text" id="meat" name="meat">
    <br>
    <label for="vegeterian">
        Vegeterian:
    </label>
    <br>
    <input type="text" id="vegeterian" name="vegeterian">
    <br>
    <label for="vegan">
        Vegan:
    </label>
    <br>
    <input type="text" id="vegan" name="vegan">
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}