{% load static %}
{% block content %}
<h1>
    Student Register the Box
    </h1>
<h2>
   Click Submit to Get the Box! <br><br>
   There is only limited number of boxes per day! It is first come first serve. <br><br>
   Your registered box is only valid for today and will expire after today.
   <br><br>You should not register if you are allergic anything in the  nutrition facts. The boxes are surprise bags and cannot be chose.
</h2>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>
{% endblock %}