<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>
        #header{
     width: 100%;
     height:60px;
     background-color:#B8E3F9;
     color:white;
   }
   #parent{
            position:relative;
        }
        #bodycontent{
            position: absolute;
            text-align: center;
            width:70%;
            top: 170px;
            left: 10%;
        }
        /* #bodycontent{
        width: 100%;
        height:200px;
        background-color:#B8E3F9;
        color:black;
        font-size: 15px;
    } */
        </style>
</head>
{% load static %}
{% block content %}
<div id="parent">
<h1 id="header">
    Student Register the Box
</h1>
<div id="bodycontent">
   Click Submit to Get the Box! <br><br>
   There is only limited number of boxes per day! It is first come first serve. <br><br>
   Your registered box is only valid for today and will expire after today.
   <br><br>You should not register if you are allergic anything in the  nutrition facts. The boxes are surprise bags and cannot be chose.
   <br><br> If you have already registered for one box today, there will be no display for boxes for you. You also cannot register for the box again.
   <br><br>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>
</div>
</div>
{% endblock %}